<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/navigation"></div>
</head>

<body>
	<div class="container">
		<form class="mb-3" th:action="@{/signup}" method="post" th:object="${user}">
			<div class="mb-3">
				<label for="inputUsername" class="form-label">Username</label>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Username"
					required="" />
			</div>
			<div class="mb-3">
				<label for="inputPassword" class="form-label">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
					required="" />
			</div>
			<div class="mb-3">
				<label for="inputFullname" class="form-label">Full name</label>
				<input type="text" name="fullname" id="inputEmail" class="form-control" placeholder="Full name"
					required="" />
			</div>
			
			<div class="mb-3" th:if="${param.error}">
				Invalid email and password.
			</div>
			
			<div class="mb-3" th:if="${#fields.hasErrors('email')}">
				This username is already taken.
			</div>
			
			<button class="btn btn-md btn-primary btn-block w-50 d-grid mx-auto" type="submit">Signup</button>
		</form>
		
		<form th:action="@{/login}" method="get">
			<button class="btn btn-md btn-success btn-block w-50 d-grid mx-auto" type="submit">Sign in</button>
		</form>
	</div>
</body>

</html>